<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
			table.challenge {
				background-color:#f8f8f8;
				border-collapse:separate;
				border-spacing:6px 8px;
				border:1px solid #000080;
				border-radius:10px;
				margin-left:2%;
				margin-right:2%;
				text-align:left;
				width:96%;
			}
        </style>
    </head>
    <body>
      	<div class="container unauthenticated">
		    Login With GitHub: <a href="/oauth2/authorization/github">click here</a>
		</div>
</html>